@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300;1,400&display=swap');
:root{
    --background: #b0c8ab;
    --primary: #496a44;
    --secondary: #B1D7A3;

    /* Text colors */

    --text-green: #38785F;
    --text-white: #ffffff;

}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat' ;
    text-decoration: none;
    list-style-type: none;
}

.header {
    width: 100%;
    height: 80px;
    background-color: var(--secondary);
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
}

.container {
    padding: 0px 20px 0px 20px;
}

.logo {
    width: 20px;
    height: 20px;
    float: left;
}

.imagen {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    width: 80px;
}

.menu {
    float: right;
    line-height: 75px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    line-height: normal;
    font-size: 14px;
    transition: all 500ms ease;
    border-bottom: 4px solid transparent;
}

.menu a:hover {
    color: var(--text-green);
    border-bottom: 4px solid antiquewhite;
}

#btn-menu {
    display: none;
}

.boton {
    float: right;
}

.boton label {
    color: var(--secondary);
    background: var(--secondary);
    padding: 5px;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
}

main {
    background: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: var(--text-white);
    width: 100%;
}


/* HERO SECTION */
#hero {
    margin-top: 50px;
    padding: 50px 0;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}
.hero-info h1{
    font-size: 48px;
    width: 80%;
    font-weight: 800;
    min-width: 500px;
    color: var(--text-white);
}

.hero-info p{
    font-size: 14px;
    width: 70%;
    color: var(--text-gray);
}


.hero-info a{
    border-radius: 10px;
    font-size: 14px;
    color: var(--text-white);
    background-color: var(--primary);
    padding: 8px;
    width: 120px;

}

#info {
    padding: 70px 0;
    max-width: 1200px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
}
.info-card-container{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}
.info-card{
    width: 310px;
    height: 200px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--primary) ;
    border-radius:10px;
    gap: 30px;
    float: left;

}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.card{
    width: 250px;
    height: auto;
    position: relative;
    background: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 20px;
    transition: all .3s ease-in;
}
.card > *{
    padding: 10px;
}

.cardimg{
    height: 200px;
    width: 200px;
}
.card .card-title{
    padding: 20px 10px;
    font-size: 1.5rem;
    text-transform: uppercase;
    
}


.card .card-text{
    line-height: 20px;
    font-size: 400;
}








/*header para movil*/
@media only screen and (max-width: 1050px) {
    .header {
        width: 100%;
        height: 80px;
    }

    .logo,
    .boton {
        line-height: 60px;
    }

    .logo h1 {
        font-size: 18px;
    }

    .menu {
        position: absolute;
        background: rgb(130, 159, 115);
        width: 100%;
        top: 80px;
        left: 0;
        transition: all 500ms ease;
        transform: translateX(-100%);
    }

    .menu a {
        color: #fff;
        text-decoration: none;
        display: list-item;
        padding: 10px 15px;
        line-height: normal;
        font-size: 14px;
        transition: all 500ms ease;
        border-bottom: 4px solid transparent;
    }

    .boton label {
        color: #fff;
        background: var(--primary);
        padding: 5px;
        font-size: 14px;
        border-radius: 3px;
        cursor: pointer;
    }

    #btn-menu:checked~.menu {
        transform: translateX(0%);
    }